<h1>Preguntas Frecuentes</h1>
<div class="pregunta">
	<mat-accordion>
		<h3>Cierzo</h3>
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>¿Puedo eliminar mi cuenta?
				</mat-panel-title>
			</mat-expansion-panel-header>
			<div>
				<p>Sí puedes. Solo accede a la pestaña del perfil y pulsa sobre "Eliminar Cuenta".</p>
			</div>
		</mat-expansion-panel>
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>¿Puedo opinar sobre un barrio?
				</mat-panel-title>
			</mat-expansion-panel-header>
			<div>
				<p>Sí puedes. Puedes valorarlo y dejar un comentario. Los comentarios podrán ser a su vez valorados.</p>
			</div>
		</mat-expansion-panel>
	</mat-accordion>
	<mat-accordion>
		<h3>Datos</h3>
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>¿Cómo se obtienen los datos?
				</mat-panel-title>
			</mat-expansion-panel-header>
			<div>
				<p>Todos los datos que maneja esta aplicación se obtienen de los datos abiertos del Ayuntamiento de Zaragoza.</p>
			</div>
		</mat-expansion-panel>

		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>¿Cómo se calculan las puntuaciones?
				</mat-panel-title>
			</mat-expansion-panel-header>
			<div>
				<p>Las puntuaciones se calculan teniendo en cuenta la densidad de población en los barrios para ser más justas.
					Se divide el numero total de items (paradas de taxi, por ejemplo) entre la densidad de población del barrio.
					Asi se obtiene una aproximación más justa.
				</p>
			</div>
		</mat-expansion-panel>
	</mat-accordion>
</div>
