<img class="imagenEquipo" src="../../../assets/images/virusfive.jpg" alt="Equipo de VirusFive">
<h1>VirusFive</h1>
<p>Somos VirusFive, un equipo aragonés que durante la epidemia mundial del Covid19 decidió ponerse manos a la obra a desarrollar CIERZO.
   
   Actualmente recordamos con cierta melancolía y algo de añoranza nuestros primeros pasos como equipo enfrentadose al reto que esta aplicación ha supuesto.
   Nos gustaría presentar a cada uno de los miembros de nuestro equipo empezando por nuestro capitán (en medio de la foto)</p>

   <h2>Guti (CAPITÁN)</h2>
   <p>Nuestro capitán ha probado cada uno de los filtros de fondo de ZOOM. Ha sido todo un líder, más bien al estilo Messi. Sin alardeos, sin voces, demostrando siempre
	   en el terreno de juego. No era muy amigo de las reuniones de control a las 16:00 porque le hacían madrugar pero siempre estaba puntual. Sigamos con el CO-líder, Sergio Costa (4º en la foto desde la izquierda).
   </p>

   <h2>Costa (CO-LÍDER)</h2>
   <p>Un sargento en la zona del Frontend que vigilaba de reojo el Backend. Si había que detonar una mina, se tiraba de cabeza. Un soldado al que no te gustaría
	   enfrentarte en una HashCode. Dicen que por las noches sueña con código que utilice solo tabuladores como espaciadores. Pasemos a su mano derecha, Jorge Terreu (2º de abordo en la foto)
	</p>

	<h2>Terre (TODO-TERRE-NO)</h2>
	<p>Ha escoltado a Costa en los momentos más duros. Cuando Pedro negó tres veces a Jesus, Terre siguió al pie del cañon. Si Guti y Costa fueran Cristiano y Bale, él sería Benzema.
		Si Costa sueña con código con tabuladores, Terre vigila que nadie lo despierte. Siguiente de abordo, Juan Vallejo (1º en la foto).
	</p>

	<h2>Pacheco (THE MAN)</h2>
	<p>Pache rechazó una oferta en Berkshire Hathaway al lado de Warren para hacer estadísticas aquí en Cierzo. 
		Dentro del grupo se ha sospechado que tiene acciones en Discord. Es tan fiable, que cuando no le compila es más probable que se haya equivocado Google. La cereza del pastel, Daniel Revillo (5º en la foto)
	</p>

	<h2>Revillo (EL POETA)</h2>
	<p>Dada su destreza con la palabra, ha asumido el papel de llevar todas las comunicaciones con Javier Fabra. Entiende a los informáticos y a los humanos. 
		Con la primavera le ha salido alergia al frontend, pero y por ello, se ha convertido en una máquina de Backend. Se podría decir que le gusta más cocinar que emplatar. Qué Humildad.
	</p>

